*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.eps
*.pdf
*.docx
*.doc

*.env
*.log
*.txt
*.csv
*.json
*.yaml
*.yml
*.ini
*.cfg
*.conf
*.properties
*.toml

*.idea
*.vscode
*.pytest_cache
*.pytest_cache/*
*.pytest_cache/
*.pytest_cache/v/
*.pytest_cache/v/cache/
*.pytest_cache/v/cache/lastfailed
*.pytest_cache/v/cache/nodeids
*.pytest_cache/v/cache/stepwise
*.pytest_cache/v/cache/stepwise

posts/
referencias/

*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz